h1 {
    font-family:'Times New Roman', Times, serif;
    font-size:40px;
    text-align:center;
    color:blue;
    margin-top:auto;
}

img {
    width: 150px;
    height: auto;
    display: block;
    margin: 20px auto;
}
.logo{
  width:160px;
  height:auto;
}